body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

    body > header {
        padding: 15px 20px;
        border-bottom: 3px solid #4800ff;
        line-height: 55px;
        background: #fff;
    }

        body > header img {
            vertical-align: middle;
            margin-right: 40px;
        }

        body > header #divPageTitle {
            display: inline-block;
            font-size: 39px;
            color: #363636;
            font-weight: 300;
        }

#divMain {
    
    text-align: center;
    padding-bottom: 40px;
}

    #divMain img {
        padding: 5px;
        max-height: 300px;
        border: 1px solid #rgba(200, 200, 200, 0.7);
        box-shadow: rgba(0, 0, 0, 0.4) 0 0 20px;
    }

#divUrlLoad,
#divBase64Load {
    display: inline-block;
    margin: 20px;
}

#divInputLoad {
    margin-top: 20px;
}

    #divInputLoad input {
        margin-bottom: 10px;
        padding: 3px;
        border: 1px solid rgb(128, 128, 128);
    }


body > footer {
    padding: 20px;
    color: #f0f0f0;
    
    box-shadow: 0 -10px 25px rgba(128, 128, 128, 0.8);
}
